@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font1);
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header h1 {
    font: 12vw var(--font2);
    font-variant: small-caps;
}

header p {
    font-size: 2.5vh;
}

header audio {
    padding-top: 20px;
    height: 20px;
}

header p.audio {
    font-size: 3vh;
    font-family: 'French Script MT', 'Brush Script MT', cursive;
    margin-bottom: -50px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: overline underline double;
}

section {
    font: 3vw var(--font3);
    padding: 5vh;
    line-height: 2em;
}

section p {
    padding: 20px;
}

section.img {
    color: white;
    background: fixed right center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.5);
}

section.img>p {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 0 black;
    width: fit-content;
    border-radius: 5px;
}

section#estrofe2 {
    background-image: url(../imgs/d12-bg01.jpg);
}

section#estrofe5 {
    background-image: url(../imgs/d12-bg02.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3vh;
    font-weight: bold;
    padding: 5px;
}