body {
    background-color: rgb(35, 35, 35);
    color: darkorange;
}

main {
    background-color: rgba(5, 5, 5, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
    box-shadow: 3px 3px 5px black;
}

h1 {
    text-align: center;
    margin: 5px 10px;
    padding: 5px 10px;
}

h2,
ul {
    margin: 10px;
}

li {
    padding: 1px;
}

p,
a,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    font: italic bold 10pt Arial;
    font-variant: small-caps;
    width: fit-content;
    margin: auto;
    padding: 0 10px;
    border-radius: 5px;
}

footer > p {
    border-right: solid 3px rgba(0, 255, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: "Source Code Pro", monospace;
    color: rgba(255, 255, 255, 0.7);
}

/* Animation */
footer > p {
    animation: animated-text 4s steps(26) 1s 1 normal both,
    animated-cursor 500ms steps(26) infinite normal;
}

/* text animation */
@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 222px;
    }
}

/* cursor animations */
@keyframes animated-cursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.7);
    }
    to {
        border-right-color: transparent;
    }
}